
/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/logos/BACK2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #000; /* Color de texto */
}

/* Estilos para el header */
header {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para que el texto sea legible */
    padding: 5px;
    text-align: center;
}

/* Estilos para los enlaces del nav en el header */
header nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

/* Estilo para los enlaces al pasar el ratón */
.header nav a:hover {
    text-decoration: underline;
}

/* Ajustes para el contenedor principal */
.container {
    padding: 60px 15px; /* Ajustar para crear espacio entre los elementos */
}

/* Estilos para las tarjetas de productos */
.card {
    border: none;
    transition: transform 0.3s ease;
}

/* Efecto de escala al pasar el ratón sobre la tarjeta */
.card:hover {
    transform: scale(1.05);
}

/* Estilos para el footer */
footer {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    text-align: center;
}

/* Estilo para las imágenes dentro de las tarjetas */
.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor de la tarjeta */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
}

/* Opcional: Ajusta el tamaño del contenedor de la tarjeta */

.cart {
    position: relative;
    text-decoration: none;
    color: #FF0000; /* Color rojo */
}

.cart img {
    margin-left: 5px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FF0000; /* Color rojo */
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}


.logo img {
  /*  max-width: 100px;*/
    height: 90px;
   display: flex;
   /* Desplaza el ícono hacia abajo */
   margin-bottom: 0%;
   

}
nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1px;
}
nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}
nav a:hover {
    text-decoration: underline;
}


/*PRODUCTOS*/


/* Estilos generales para el main */
main {
    font-family: 'Arial', sans-serif;
    background-color: #8077773f;
    padding: 20px;
}

/* Estilo para el catálogo */
.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Estilo para cada producto */
.producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 380px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 60%;
    border-bottom: 2px solid #eee;
}

.producto h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.descripcion {
    color: #777;
    font-size: 0.9em;
    margin: 10px 0;
}

.precio {
    font-size: 1.2em;
    color: #e94e77;
    margin: 10px 0;
}

button {
    background-color: #e94e77;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d83f65;
}



/*footer*/

footer {
    background-color: #807777b6;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


/* boton buscar y texbox de busqueda*/

.search-form {
    display: flex;
    align-items: center;
    margin: 20px 0; /* Margen superior e inferior */
}

.search-form input[type="search"] {
    border-radius: 30px 0 0 30px;
    border: 2px solid #28a745;
    padding: 10px 20px;
    width: 300px; /* Ajusta el ancho según lo necesites */
    outline: none;
}

.search-form button {
    border-radius: 0 30px 30px 0;
    border: 2px solid #28a745;
    border-left: none;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #218838;
}

/* Asegúrate de que el formulario se vea bien en pantallas más pequeñas */
@media (max-width: 576px) {
    .search-form {
        flex-direction: column;
    }

    .search-form input[type="search"], .search-form button {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 10px;
    }

    .search-form button {
        border-radius: 30px;
    }
}