/* Estilos generales del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #000000; /* Color de texto */
}

.logo img {
    /*  max-width: 100px;*/
      height: 90px;
     display: flex;
     /* Desplaza el ícono hacia abajo */
     margin-bottom: 0%;
     
  
  }
  nav {
      display: flex;
      justify-content: flex-end;
      margin-top: 1px;
  }
  nav a {
      margin-left: 15px;
      text-decoration: none;
      color: #000;
  }
  nav a:hover {
      text-decoration: underline;
  }
  
h2{
    position: absolute; /* Permite posicionar el h3 con respecto al contenedor */
    top: 4%; /* Alinea el h3 en la parte superior del contenedor */
    left: 50%; /* Alinea el centro del h3 horizontalmente con el centro del contenedor */
    transform: translateX(-50%); /* Ajusta la posición para que el centro del h3 esté alineado con el centro del contenedor */
    font-family: 'Roboto Slab', serif;

}

/* Estilos para el header */
header {
    background-color:#f59db393; /* Fondo semi-transparente */
    padding: 5px;
    text-align: center;
}

/* Estilos para los enlaces del nav en el header */
header nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

/* Estilo para los enlaces al pasar el ratón */
header nav a:hover {
    text-decoration: underline;
}

/* Asegura que el contenedor de la fila ocupa el ancho completo */
.row {
    width: 100%;
   
}

/* Centra el contenido del contenedor */
.text-center {
    text-align: center;
}


#final_button {
    margin: 0 auto; /* Esto asegura que el botón esté centrado si hay un margen automático */
    display: block; /* Hace que el botón sea un bloque para que el margen automático funcione */
    padding: 10px 50px; /* Ajusta el tamaño del botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    background-color: #d83f65;
}





/* footer del carrito */
.cart-footer {
    background-color: rgba(255, 235, 238, 0.8); 
    padding: 10px;
}



footer {
    background-color: #7a7a7a4f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

.badge {
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: #5f5f5f;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}