/* Estilos generales del body */
body {
    font-family: 'Roboto Serif', serif; /* Fuente consistente */
    margin: 0;
    padding: 0;
    background-image: url('../img/logos/BACK2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #000;
    backdrop-filter: blur(4px);
}

/* Estilos para el header */
header {
    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
    padding: 15px 30px; /* Espaciado más amplio para mayor aire */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

/* Estilos para el logo */
.logo img {
    height: 60px; /* Tamaño del logo ajustado */
    margin: 0;
    transition: transform 0.3s ease; /* Transición para el logo */
    align-items: center;
}

.logo img:hover {
    transform: scale(1.1); /* Efecto de agrandamiento suave al pasar el ratón */
}

.header-center-image {
    flex: 1; /* Permite a la imagen central ocupar espacio de flex */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
 
}



.header-center-image img {
    height: 60px; /* Ajusta el tamaño máximo de la imagen */
    transition: transform 0.3s ease;
    margin-left: 60%;
}

/* Estilos para el nav */
nav {
    display: flex;
    align-items: center;
}

/* Estilos para los enlaces del nav en el header */
header nav a {
    color: #666; /* Color suave para los enlaces */
    text-decoration: none;
    font-weight: 500;
    margin: 0 15px;
    font-family: 'Roboto Serif', serif; /* Fuente consistente */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Transiciones suaves */
}

/* Estilo para los enlaces al pasar el ratón */
header nav a:hover {
    color: #d83f65; /* Color de hover más vibrante */
    text-shadow: 0 0 5px rgba(216, 63, 101, 0.6); /* Efecto de brillo en hover */
}

/* Estilos para el icono del carrito y el precio */
#total-price {
    font-weight: bold;
    margin-left: 10px;
    color: #666; /* Texto más suave */
    font-family: 'Roboto Serif', serif; /* Fuente consistente */
    transition: color 0.3s ease;
}

#cart-count {
    font-size: 0.9em;
    color: #999; /* Color más claro para el conteo del carrito */
}

nav img {
    margin-left: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Transición para el icono del carrito */
}

nav img:hover {
    opacity: 0.7; /* Efecto de opacidad al pasar el ratón */
}

nav span {
    margin-left: 10px;
}


.contenedor-productos1 {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas */
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente en el contenedor */
    padding: 20px; /* Espacio interno del contenedor */
}

.contenedor-productos {
    display: grid;
    grid-template-columns: 50% 50%;
}

.col-md-4{
display: grid;
grid-template-columns: 50% 50%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}

.text-center {
    background: linear-gradient(135deg, #2e2e2e42 0%, #5554546c 50%, #57575775 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 15px; /* Bordes redondeados */
    padding: 10px;
}
h2 {
    font-family: "Playfair Display", serif; /* Letra elegante que combina con el estilo */
    font-size: 50px; /* Tamaño adecuado para resaltar */
    font-weight: 600; /* Letra más gruesa */
    color: #ffffff; /* Color acorde al fondo */
    text-align: center;
    margin: 0;
}

/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');



/* Estilos generales para la tarjeta de producto */
.producto-card1{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegura que el contenido no desborde */
    width: 380px; /* Ancho fijo */
    min-height: 500px; /* Altura mínima para mantener las tarjetas uniformes */
    max-height: 600px; /* Altura máxima opcional para evitar excesiva expansión */
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: grid; /* Usar flexbox para alinear contenido */
    flex-direction: column; /* Alinear contenido en columna */
}

.producto-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width:100%; /* Asegúrate de que la tarjeta ocupe todo el ancho de su columna */
    min-height: 500px;
    max-height: 600px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}


.producto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para la imagen del producto */
.producto-img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionar */
    border-bottom: 2px solid #eee; /* Línea inferior de separación */
}



/* Estilo para el título del producto */
.producto-title {
    font-family: 'Roboto Serif', serif;
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
    font-weight: 700; /* Usar peso más fuerte para el título */
    

}

/* Estilo para la descripción del producto */
.producto-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #777777c2;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-control{
    height: 40px;
    max-width: 80px;
   
}

.card-body {
    flex: 1; /* Hace que el cuerpo de la tarjeta ocupe el espacio restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

/* Estilo para el precio del producto */
.producto-price {
    font-size: 1.2em;
    color: #e94e77;
    margin: 10px 0;
    font-weight: bold;
}

/* Estilo para el campo de cantidad */
.producto-quantity {
    width: 50%;
}

.btn-pink {
    background-color: #e94e77;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s;
    position: relative;
    font-weight: bold;
 
}

.btn-pink .icon {
    width: 30px; /* Ajusta el tamaño del ícono */
    height: 30px;
    margin-right: 4px; /* Espacio entre el ícono y el texto */
    transition: transform 0.3s;
    display: inline-block;
    
}

.btn-pink:hover {
    background-color: #d83f65;
    color: #fff;
 


}

.btn-pink:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-pink:hover .icon {
    transform: rotate(360deg);
}

/* Estilos generales para el main */
main {
    font-family: 'Arial', sans-serif;
    background-color:  #8077772d;
   
}

/* Estilos para el cart */
.cart {
    position: relative;
    text-decoration: none;
    color: #FF0000; /* Color rojo */
}

.cart img {
    margin-left: 5px;
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FF0000; /* Color rojo */
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

/* Estilos para los botones */
button {
    background-color: #e94e77;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d83f65;
}

/* Estilos para el footer */
footer {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
